<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqnVTkKDcnaP4pa00bOF2aeCzINOgUo7U</string>
	<key>GCM_SENDER_ID</key>
	<string>1086353192677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helpingHands</string>
	<key>PROJECT_ID</key>
	<string>helpinghands-46ace</string>
	<key>STORAGE_BUCKET</key>
	<string>helpinghands-46ace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086353192677:ios:e5ce77e89f1492990a860c</string>
</dict>
</plist>